<html>
    
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- We want our individual page css to override the layout css so we place it down -->
        <%- style -%>
    </head>

    <body>

        <%- include('_header'); -%>

        <%- body -%>

        <%- include('_footer'); -%>

    </body>

    <%- script -%>
</html>